---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  name: results.core.kubegpt.io
spec:
  group: core.kubegpt.io
  names:
    kind: Result
    listKind: ResultList
    plural: results
    singular: result
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Result is the Schema for the results API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              Event:
                items:
                  properties:
                    Count:
                      type: integer
                    Message:
                      type: string
                    Reason:
                      type: string
                    Type:
                      type: string
                  required:
                  - Count
                  - Message
                  - Reason
                  - Type
                  type: object
                type: array
              images:
                items:
                  type: string
                type: array
              kind:
                type: string
              labels:
                additionalProperties:
                  type: string
                type: object
              name:
                type: string
              namespace:
                type: string
            required:
            - Event
            - images
            - kind
            - labels
            - name
            - namespace
            type: object
          status:
            description: ResultStatus defines the observed state of Result
            properties:
              lifecycle:
                type: string
              webhook:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
