apiVersion: core.kubegpt.io/v1alpha1
kind: Kubegpt
metadata:
  labels:
  {{- include "kubegpt.labels" . | nindent 4 }}
  name: {{ include "kubegpt.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
spec:
  ai:
    enabled: {{ .Values.ai.enabled | default true }}
    backend: "openai"
    model: {{ .Values.ai.model | default "gpt-3.5-turbo" }}
    secret:
      name: "kubegpt-secret"
      key: {{ .Values.ai.token | b64enc | quote }}
  timer:
    errorInterval: {{ .Values.timer.errorInterval | default 60 }}
    aiInterval: {{ .Values.timer.aiInterval | default 60 }}
  sink:
    type: "slack"
    endpoint: {{ .Values.slack.webhook | quote }}  # input your slack webhook url
