name: Build and Push Docker Image to GitHub Registry

on:
  push:
    branches: [ main ]

jobs:
  docker-buildx:
    runs-on: ubuntu-latest

    steps:
      - name: Check Out Repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Makefile docker-buildx
        run: make docker-buildx
        env:
          IMG: ghcr.io/kuberixenterprise/kubegpt:latest
          PLATFORMS: linux/amd64,linux/arm64
          CONTAINER_TOOL: docker

      - name: Cleanup
        run: docker buildx rm project-v3-builder
